{%extends "portfolio/base.html"%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="self">
            <h1>Who am I?</h1>
            <p>I am a creative full stack developer.</p>
            <p>I am positive about every aspect of life. I am very athletic and love outdoor activities from cycling to mountaineering. Developing awesome applications is my passion</p>
            <p>Kindly check me on linkedin ;)</p>

        </div>
        <div class="link">
            <a href="{%url 'index'%}"><p>Home</p></a>

        </div>

    </div>

</div>
{% endblock %}