
.column-33 {
  float: left;
  padding: 20px;
  width: 33.33333%;
  color:#FFF;

}
.column-66 {
  float: left;
  padding: 20px;
  width: 66.66666%;
  color:#FFF;
}
@media screen and (min-width: 768px) {
  .column-33 {
      float: left;
      padding: 20px;
      width: 33.33333%;
      color:#FFF;
   
  }
  
}
@media screen and (min-width: 768px) {
.column-66 {
    float: left;
    padding: 20px;
    width: 66.66666%;
    color:#FFF;
 
}
}
p {
  font-size:22px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff;
 
}
@media screen and (min-width: 768px) {
  p {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    
  }
}
.box{
  padding:10px 0px;
}

.box-part{
  background:#FFF;
  border-radius:10px;
  /* padding:60px 10px; */
  margin:10px 0px;
}
@media screen and (min-width: 768px) {
  .box-part{
    background:#FFF;
    border-radius:10px;
    padding:10px 0px;
    margin:30px 0px;
  }
}
.box-part:hover{
  background:#4183D7;
}

.box-part:hover .fa , 
.box-part:hover .title , 
.box-part:hover .text ,
.box-part:hover a{
  color:#FFF;
  -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
body {
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* margin:0;
  padding:0;
  overflow:hidden; */
}
@media screen and (min-width: 768px) {
  h1{
      font-size:50px;
      font-family: 'Buenard', serif;
      font-weight:bold;
      text-transform: uppercase;
      margin: 40px auto 0px;
      text-shadow: 1px 1px 1px #000;
      -webkit-text-shadow: 1px 1px 1px #000;
      -moz-text-shadow: 1px 1px 1px #000;
      text-align:center;
      color:#fff;
  }
}
h1{
  font-size:40px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  text-align:center;
  color:#fff;
}
.wrapper {
  height:100vh;
  -webkit-animation: slide 60s linear infinite;
  background:url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Tarantula%20nebula.jpg?itok=xbyxz9lz) repeat;
  background-position: center;
  animation:animatebg 60s linear infinite;
  background-size: cover;
  width: 100vw;
}
.pulse {
  position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-50%);
  background:url(https://fallriverchapel.files.wordpress.com/2010/02/gda_world_map_small.jpg);
  background-size:cover;
  animation:animateEarth 12s linear infinite;
  width:200px;
  height:200px;
  border-radius:50%;
  box-shadow:inset 0 0 40px rgba(255,255,255,.5);
}

.pulse span {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
  background:transpatent;
  border:2px solid #fff;
  box-sizing:border-box;
  animation:animate 6s linear infinite;
}

.pulse span:nth-child(1) {
  animation-delay:0s;
}
.pulse span:nth-child(2) {
  animation-delay:-4s;
}
.pulse span:nth-child(3) {
  animation-delay:4s;
}

@keyframes animate {
  0% {
      width:200px;
      height:200px;
      opacity:1;
  }
  50% {
      opacity:1;
  }
  100% {
      width:500px;
      height:500px;
      opacity:0;
  }
 
}


@keyframes animateEarth {
  0% {
      background-position:0 0;
  }
  100% {
      background-position:768px 0;
  }
}

@keyframes animatebg {
  0% {
      background-position:0 0;
  }
  100% {
      background-position:768px 0;
  }
}





