
@media screen and (min-width: 768px) {
  .column-33 {
      float: left;
      padding: 20px;
      width: 33.33333%;
   
  }
  
}
@media screen and (min-width: 768px) {
.column-66 {
    float: left;
    padding: 20px;
    width: 66.66666%;
 
}
}
p {
  font-size:20px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
@media screen and (min-width: 768px) {
  p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
}
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:10px;
  padding:60px 10px;
  margin:30px 0px;
}

.box-part:hover{
  background:#4183D7;
}

.box-part:hover .fa , 
.box-part:hover .title , 
.box-part:hover .text ,
.box-part:hover a{
  color:#FFF;
  -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
body {
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}