/* The Overlay (background) */
.overlay {
    
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  @media screen and (min-height: 500px) {
    .overlay-content {
      float: right;
    }
  }
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  body {
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-image: url('../images/IMG_1185.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


  }
  .type {
    color:#fff; 
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;

  }
  h1 {
    font-size:50px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
  p {
    font-size:20px;
    font-family: 'Buenard', serif;
    text-align:center;
    color:#fff;
  }
  
@media screen and (min-width: 768px) {
  h1 {
    font-size:50px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
}
@media screen and (min-width: 768px) {
p {
  font-size: 30px;
}
}