/* body{
    
    background-image: url('../images/mon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat,repeat;
    width:100vw;
    height:100vh;
    position: relative;

} */
@media screen and (max-width: 1900px) {
    .carousel-inner {
      
        width: 100vw;
        /* height: 80vh; */
        
    }
}
.carousel-caption {
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
    
}


.intro {
    width:100vw;
    height:100vh;
    top: 20%;
    
}
.about {
    width:80vw;
    height:100vh;
    
}
.projects {
  width: 100vw;
    text-align: center;
}
.footer {
    
    width:100vw;
    height:100vh;
    bottom: 60%;
    /* background-color: #1A3E4C; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat,repeat;
    opacity: 0.8;
}
@media screen and (max-width: 1900px) {
    .footer,{
            width:100vw;
     
    }
    
}
.image {
    width:100%;
    height:100vh;
    
}

ul{
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    left: 50%;
   
    
}
ul li{
    list-style: none;
    margin: 0 40px;

}
ul li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
}
ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa{
    color: #fff;
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover:nth-child(1) a{
    background: #3b5999;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  button {
      background-color: #67AFCB;
      box-shadow: 5px 5px 5px #092834;
  }
  button.hover {
    background-color: #E4F1F6;

  }
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}
  
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        float: left;
     
    }
    
}
.profile_pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;

}
.video-section .pattern-overlay {
    background-color: rgba(71, 71, 71, 0.59);
   
    min-height: 1000px;
    height: 100vh;
    width:100vw; 
    /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
    text-align:center;
    color:#fff;
}
p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video-section h1{
    font-size:80px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
    font-size: 25px;
    font-weight:lighter;
    margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}




