/* The Overlay (background) */
.overlay {
    
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  @media screen and (min-height: 500px) {
    .overlay-content {
      float: right;
    }
  }
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  body {
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-image: url('../images/IMG_1185.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


  }
  .type {
    color:#fff; 
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;

  }
  h1 {
    font-size:50px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
  p {
    font-size:30px;
    font-family: 'Buenard', serif;
    text-align:center;
    color:#fff;
  }
  /* ul{
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    left: 50%;
   
    
}
ul li{
    list-style: none;
    margin: 0 40px;

}
ul li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
}
ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa{
    color: #fff;
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover:nth-child(1) a{
  background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
  background: #2e4a86;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}
ul li:hover:nth-child(2) a{
  background: #55acee;
}
ul li:hover:nth-child(2) a:before{
  background: #4184b7;
}
ul li:hover:nth-child(2) a:after{
  background: #4d9fde;
}
ul li:hover:nth-child(1) a{
  background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
  background: #2e4a86;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}
ul li:hover:nth-child(2) a{
  background:  rgb(0, 0, 0, 0.5);;
}
ul li:hover:nth-child(2) a:before{
  background: rgb(0, 0, 0, 0.5);;
}
ul li:hover:nth-child(2) a:after{
  background:  rgb(0, 0, 0, 0.5);;
}
.contact {
  width:100vw;
  height:100vh;
} */
@media screen and (min-width: 768px) {
  h1 {
    font-size:50px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
}