
 
  body {
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-image: url('../images/IMG_1185.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


  }
  .type {
    color:#fff; 
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;

  }
  h1 {
    font-size:45px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
  p {
    font-size:23px;
    font-family: 'Buenard', serif;
    text-align:center;
    color:#fff;
  }
  
@media screen and (min-width: 768px) {
  h1 {
    font-size:100px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 20px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    text-align:center;
    color:#fff;
  }
}
@media screen and (min-width: 768px) {
p {
  font-size: 30px;
  top: 60%;
}
}
.container .box {
  position:relative;
  width:calc(300px );
  height:calc(300px);
  background:#000;
  float:left;
  margin:15px;
  box-sizing:border-box;
  overflow:hidden;
  box-shadow:0 5px 10px rgba(0,0,0,.8);
}
@media screen and (min-width: 768px) {
  .container .box {
      position:relative;
      width:calc(300px - 60px);
      height:calc(280px - 30px);
      background:#000;
      float:left;
      margin:15px;
      box-sizing:border-box;
      overflow:hidden;
      box-shadow:0 5px 10px rgba(0,0,0,.8);
  }
}
.container .box:before {
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  box-sizing:border-box;
  transition:0.5s;
  transform: scaleX(0);
  opacity:0;
}
.container .box:hover:before {
  transform:scaleX(1);
  opacity:1;
}
.container .box:after {
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  box-sizing:border-box;
  transition:0.5s;
  transform: scaleY(0);
  opacity:0;
}
.container .box:hover:after {
  transform:scaleY(1);
  opacity:1;
}
.container .box .imgBox {
  position:relative;
}
.container .box .imgBox img {
  width:100%;
  transition:0.5s;
}
.container .box:hover .imgBox img {
  opacity:.2;
  transform:scale(1.2);
}
.container .box .content {
  position:absolute;
  width:100%;
  top:50%;
  transform:translateY(-50%);
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
}
.container .box .content h2 {
  margin: 0 0 10px;
  padding:0;
  color:#fff;
  transition:0.5s;
  transform:translateY(-50px);
  opacity:0;
  visibility:hidden;
}
.container .box .content p {
  margin:0;
  padding:0;
  color:#fff;
  transform:translateY(50px);
  opacity:0;
  visibility:hidden;
}
.container .box:hover .content h2,
.container .box:hover .content P {
  opacity:1;
  visibility:visible;
  transform:translateY(0px);
}
.tech {
  width: 100vw;
  height: 100vh;
}
  