.overlay {
    
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  
  .bigger {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: #202020;  
    display: inline-block;
    position: relative;
    text-align: center;
  }
  .skills {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;
  }
  .text.txt-center {
    text-align: center;
  }
  .text a {
    color: #0fe4d2;
  }
  
  .has-animation {
    position: relative;
  }
  .has-animation p, .has-animation img {
    opacity: 0;
  }
  .has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
  }
  .has-animation.animate-in:before, .has-animation.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
  }
  .has-animation.animate-in:before {
    background-color: teal;
  }
  .has-animation.animate-in:after {
    background-color: yellowgreen;
    animation-delay: .5s;
  }
  .has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
  }
  .has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s .6s ease;
  }
  .has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
  }
  .has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s .6s ease;
  }
  
  @keyframes revealRTL {
    0% {
      width: 0;
      right: 0;
    }
    65% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
  @keyframes revealLTR {
    0% {
      width: 0;
      left: 0;
    }
    65% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes textHidden {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* ul{
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    left: 50%;
   
    
}
ul li{
    list-style: none;
    margin: 0 40px;

}
ul li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
}
ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa{
    color: #fff;
}
ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover:nth-child(1) a{
  background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
  background: #2e4a86;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}
ul li:hover:nth-child(2) a{
  background: #55acee;
}
ul li:hover:nth-child(2) a:before{
  background: #4184b7;
}
ul li:hover:nth-child(2) a:after{
  background: #4d9fde;
}
ul li:hover:nth-child(1) a{
  background: #3b5999;
}

ul li:hover:nth-child(1) a:before{
  background: #2e4a86;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}
ul li:hover:nth-child(2) a{
  background:  rgb(0, 0, 0, 0.5);;
}
ul li:hover:nth-child(2) a:before{
  background: rgb(0, 0, 0, 0.5);;
}
ul li:hover:nth-child(2) a:after{
  background:  rgb(0, 0, 0, 0.5);;
} */
/* .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}
  
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
} */
@media screen and (min-width: 768px) {
    .column-33 {
        float: left;
        padding: 20px;
        width: 33.33333%;
     
    }
    
}
@media screen and (min-width: 768px) {
  .column-66 {
      float: left;
      padding: 20px;
      width: 66.66666%;
   
  }
}

  
h3 {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}