
.bigger {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: #202020;  
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Buenard', serif;
    
  }
  .skills {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;
  }
  .text.txt-center {
    text-align: center;
  }
  .text a {
    color: #0fe4d2;
  }
  
  .has-animation {
    position: relative;
  }
  .has-animation p, .has-animation img {
    opacity: 0;
  }
  .has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
  }
  .has-animation.animate-in:before, .has-animation.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
  }
  .has-animation.animate-in:before {
    background-color: teal;
  }
  .has-animation.animate-in:after {
    background-color: yellowgreen;
    animation-delay: .5s;
  }
  .has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
  }
  .has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s .6s ease;
  }
  .has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
  }
  .has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s .6s ease;
  }
  
  @keyframes revealRTL {
    0% {
      width: 0;
      right: 0;
    }
    65% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
  @keyframes revealLTR {
    0% {
      width: 0;
      left: 0;
    }
    65% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes textHidden {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@media screen and (min-width: 768px) {
    .column-33 {
        float: left;
        padding: 20px;
        width: 33.33333%;
        color: black;
        
     
    }
    
}
@media screen and (min-width: 768px) {
  .column-66 {
      float: left;
      padding: 20px;
      width: 66.66666%;
   
  }
}

  
h3 {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
 
}

p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

.main-heading{width:100%; text-align:center; color:red; margin:60px;}
.img-box img{width:100%;}
.main{display:block; overflow:hidden;}
.text-block{display:block; color:#fff;}
.text-block h2{color:red;}
.main{padding:100px 0; width:100%; overflow:hidden;}
.main.bg-t{width:100%; background:rgba(255, 255, 255, 0.2); padding:120px 0;}
