{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {%if title%}

  <title>{{title}}</title>

  {%endif%}

  {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
  {% endblock %}

</head>

<body>
    {%include 'navbar.html'%}

  {% block content %} 
  <!-- <div class="wrapper"> -->
    <div class="container">
      <div class="intro">
      <div class="row">
        <div class="col-lg-12" style="top: 20%;">
          <h1>FULL STACK DEVELOPER</h1><br><br><br>
          <P>Whatever you go into, you have to go in there to be the best. There's no formular. It's all about passion, honesty and hard work. It might look glamorous, but it takes a lot of hard work. The blessing with the arts is that you can do it forever.</P>
        </div>
      </div>
    </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="row">
          <div class="tech">
              <h3>TECHNOLOGY STACK</h3>
            <div class="box">
                <div class="imgBox">
                    <img src="../static/images/angular.png">
                </div>
                <div class="content">
                    <h2>Awards</h2>
                    <a href="https://kernelawards.herokuapp.com/">
                    <p>View project </p>
                  </a>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="../static/images/django.png">
                </div>
                <div class="content">
                    <h2>Neighborhood</h2>
                    <a href="https://kernelhood.herokuapp.com/">
                    <p>View project </p>
                  </a>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="../static/images/html.jpg">
                </div>
                <div class="content">
                    <h2>Gallery</h2>
                    <a href="https://github.com/Kernael92/gallery">
                    <p>View project </p>
                  </a>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="../static/images/flask.png">
                </div>
                <div class="content">
                    <h2>Ideal Agency</h2>
                    <a href="#">
                    <p>View project </p>
                  </a>
                </div>
            </div>
            
          </div>
      </div>

      </div>

    </div>
    
  <!-- </div> -->
  {%endblock%}


  {% block scripts %}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script src="{%static 'js/index.js'%}"></script>
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>