<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3 right" role="navigation" > -->
        <div id="myNav" class="overlay" role="navigation">
            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
            <!-- Overlay content -->
            <div class="overlay-content">
                <a href="{%url 'index'%}">HOME</a>
                <a href="{%url 'project'%}">PROJECTS</a>
                <a href="{%url 'self'%}">WHO IS KERNAEL</a>
                <a href="#"></a>
            </div>
            
        </div>
            
        <!-- Use any element to open/show the overlay navigation menu -->
        <span onclick="openNav()" style="position: fixed; font-size: 40px;">&#9776;</span>
        

       
<!-- </nav> -->