{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {%if title%}

  <title>{{title}}</title>

  {%endif%}

  {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{%static 'css/self.css'%}">
  {% endblock %}

</head>

<body>
  {%include 'navbar.html'%}

  {% block content %} 
  <div class="container">
    <div class="row">
        <div class="self">
            <div class="has-animation animation-ltr" data-delay="10">
              <div class="column-66">
                <h1 class="bigger">KERNAEL APUKO</h1>

              </div>
              <div class="column-50">
                <img src="../static/images/IMG_1185.jpg" alt="" style="height:60%; width: 60%;">

              </div>
                <h2 class="bigger">FULL STACK DEVELOPER </h2>
                <div class="skills">
                  <span>Athletic</span> .
                  <span>Mountaineering</span> .
                  <span>Fashion Enthusiast</span>
                </div>
                
              </div>
              
              <br>
              <br>
              
              <div class="has-animation animation-rtl" data-delay="1000">
                <div class="text">
                  <div class="column-33">
                    <h3>ABOUT</h3>
                  </div>
                  <div class="column-66">
                    <p>Hi there! I am Kernael Apuko, a Kenyan-based full stack developer. With a passion for design and programming. I take pride in building well-crafted digital experience.</p>
                    
                  </div>
                  <div class="column-33">
                    <h3>DEVELOPMENT</h3>
  
                    </div><br><br><br><br>
                  <div class="column-66">
                    <p>In 2018, I switched my main focus from Geospatial Engineering to Software Engineering. I underwent an intensive bootcamp training at Moringa School for a duration of Six months where I learned several programming languages and  built very amazing applications. I gained team work skills as the training was purely based on peer work and group work. It's through the experience that i felt confidence to start working as a Full Stack Developer.</p>
                    
                  </div>
                  
                  <div class="column-33">
                    <h3>COLOPHON</h3>
                  </div>
                  <div class="column-66">
                    <p>Front-end: <strong>HTML/CSS/Javascript/Bootstrap4/jQuery</strong></p>
                    <p>Back-end: <strong>Django Framework</strong></p>
                  </div>
                  <div class="column-33">
                    <h3>CONTACT</h3>

                  </div>
                  <div class="column-66">
                    <p><a href="#">kernaelapuko5@gmail.com</a></p>
                    <p>Tel: <a href="#">+(254)714140423</a></p>
                    
                  </div>
                    <!-- <p>I am a creative full stack developer.</p>
                    <p>I am positive about every aspect of life. I am very athletic and love outdoor activities from cycling to mountaineering. Developing awesome applications is my passion</p>
                    <p>Kindly check me on linkedin ;)</p> -->
                </div>
              </div>
              <br>
              <br>
              
              <br>
              <br>
              <!-- <div class="has-animation animation-rtl" data-delay="2000">
                <h1>Languages i am proficient in </h1>
                <img class="image" src="../static/images/css.png" width="100" />
                <img class="image" src="../static/images/html.png" width="100" />
                <img class="image" src="../static/images/flask.png" width="100" />
                <img class="image" src="../static/images/django.png" width="100" />
                <img class="image" src="../static/images/angular.png" width="100" />
              </div> -->
          </div>

    </div>

</div> {%endblock%}


  {% block scripts %}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{%static 'js/index.js'%}"></script>

  
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>



